<% layout('layouts/boilerplate') -%>

    <body>
        <div class="row">
            <div class="col col-8 offset-2">


                <h3>Edit Your Listing</h3>


                <form action="/listings/<%= listing.id %>?_method=put" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="listing[title]" class="form-label">Title</label>
                        <input type="text" name="listing[title]" class="form-control" value="<%= listing.title %>" required>
                        <div class="valid-feedback">Looks Good!</div>
                        <div class="invalid-feedback">please enter the valid title</div>
                    
                    </div>
                    <div class=" mb-3">
                        <label for="listing[description]" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                        <div class="valid-feedback">Looks Good!</div>
                        <div class="invalid-feedback">please enter the valid description</div>
                    
                    
                    </div>
                    <div class="mb-3" >
                        Original Listing image <br/>
                        <img src="<%= listing.image.url %>" height="200px" width="280px"/>
                    </div>
                    <div class="mb-3">
                        <label for="listing[image]" class="form-label">Image</label>
                        <input type="file" name="listing[image]" class="form-control"  >
                    
                    </div>
                    <div class="row" class="mb-3">
                    
                    
                        <div class="col col-4">
                            <label for="listing[price]" class="form-label">price</label>
                            <input  name="listing[price]" class="form-control" value=<%=listing.price %> required>
                           
                            <div class="invalid-feedback">please enter the valid price</div>
                    
                        </div>
                        <div class="col col-8">
                            <label for="listing[location]" class="form-label">Location</label>
                            <input type="text" name="listing[location]" class="form-control" value="<%= listing.location %>">
                           
                            <div class="invalid-feedback">please enter the valid location</div>
                    
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="listing[country]" class="form-label">Country</label>
                        <input type="text" name="listing[country]" class="form-control" value="<%= listing.country %>" required>
                        
                        <div class="invalid-feedback">please enter the valid country</div>
                    
                    </div>

                    <button class="btn btn-dark edit-btn mb-3">Edit</button>



                </form>
            </div>
        </div>





    </body>